<%= render "layouts/header" %>
<%= render "layouts/left_sidebar" %>
<div class="span-12" style="background:#CFCFCF;padding:1em;">
  <h2 style="color:#F80000;">About Our Classes</h2>
  <p>
    Classes are held every <b>Wednesday at 8:30PM</b> and <b>Saturday at 2PM</b> inside the <a href="http://www.synergydancemadison.com">Synergy Dance Academy</a> at <b>549 Zor Shrine Place</b>. Your first two weeks of training are totally free. If you decide you would like to join the Okinawan Karate Club of Madison, dues are a flat <b>$75 a month</b> with no long term contracts and no hidden fees.
  </p>
  <h3>Who may join:</h3>
  <p>
    Membership is open to <b>adults</b> and <b>teens 13 and over</b> (with parent or guardian permission). For your protection we require all members to have health insurance or equivalent health coverage. We strongly encourage you to seek the advice of your physician before beginning any new exercise regimine.
  </p>
  <h3>New to martial arts?</h3>
  <p>
    If this is your first martial arts class, welcome. Please bring
    <ul>
      <li>loose-fitting, comfortable workout clothes</li>
      <li>water</li>
      <li>a positive attitude</li>
    </ul>
    We train in bare feet. If you would like to wear shoes, please ask about getting martial arts shoes which may be ordered through the club. If you wear any dangling jewlry or heavy rings, please remove these items before class.
  </p>
</div>
<div class="span-6 last">
  <%= render "layouts/contact" %>
  <hsidebar>Schedule</hsidebar>
  <p>
    Wednesday 8:30pm to 9:30pm<br/>
    Saturday 2pm to 3pm
  </p>
  <hsidebar>Club Dues</hsidebar>
  <p>
    $75 per month 
  </p>
  <hsidebar>Location</hsidebar>
  <p>
    <b>549 Zor Shrine Place, Madison WI</b><br/>
    inside the <a href="http://www.synergydancemadison.com">Synergy Dance Academy</a>
  </p>
  <iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=549+Zor+Shrine+Place+,Madison,+WI&amp;aq=&amp;sll=43.056334,-89.51378&amp;sspn=0.00773,0.019097&amp;ie=UTF8&amp;hq=&amp;hnear=549+Zor+Shrine+Pl,+Madison,+Wisconsin+53719&amp;t=m&amp;ll=43.056346,-89.513769&amp;spn=0.018814,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed">
  </iframe><br/>
  <small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=549+Zor+Shrine+Place+,Madison,+WI&amp;aq=&amp;sll=43.056334,-89.51378&amp;sspn=0.00773,0.019097&amp;ie=UTF8&amp;hq=&amp;hnear=549+Zor+Shrine+Pl,+Madison,+Wisconsin+53719&amp;t=m&amp;ll=43.056346,-89.513769&amp;spn=0.018814,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small><br/>
</div>
<%= render "layouts/footer" %>
<!-- Google Code for Visited Classes Page Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1002905662;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "6XXJCPLX4QoQvsCc3gM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1002905662/?label=6XXJCPLX4QoQvsCc3gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
