/* Place all the styles related to the Pages controller here.
   They will automatically be included in application.css. */

#first-class-banner a,
#first-class-banner a:hover,
#first-class-banner a:visited,
#first-class-banner a:focus {
  color: var(--color-banner-text) !important;
  text-decoration: none !important;
}

.contact-email a,
.contact-email a:visited {
  color: #facc15 !important;
  text-decoration: none !important;
  font-size: 1.25rem;
}

.contact-email a:hover {
  color: white !important;
}
