<div class="span-24" style="margin-top:19px;">
  <hr/>
    <div class="span-18 last">
      <small>
        artwork courtesy of <%= link_to "Deb Lee", "http://www.webdeblee.com" %>
      </small>
    </div>
    <div class="span-6 last">
      <small>© Okinawan Karate Club of Madison</small>
    </div>
</div>
